.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.product {
    position: relative;
    overflow: hidden;
}

.product .product-image {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

.product .product-desc {
    font: .8rem;
    width: -webkit-fill-available;
    position: absolute;
    /* bottom: -100px; */
    bottom: -260px;
    background-color: rgb(0,0,0,.8);
    padding: 15px;
    transition: all .2s ease-in-out;


    color: white;
}

.product .product-image:hover + .product-desc {
    bottom: 6px;
}

.product .product-price {
    position: absolute;
    right: 0;
    background-color: rgb(163, 37, 15);
    font-weight: bold;
    font-size: 22px;
    padding: 5px 10px;
    border-top-right-radius: 10px;


    color: white;
}

.product-btn {
    display: block;
}